.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0px 50px;
    margin-bottom: 0;
}
.titulo{
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
}

@media(max-width: 1200px){
    .cards{
        display: flex;
        flex-flow: column nowrap;
        height: 400x;
        
    }
}